/*Общие стили*/ 
body {
    margin:0;
    padding:0;
    font-family: 'Cuprum', 'PT Sans', Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    color:black;
    background-color: white;
    line-height: 24px;
    }
    input, p, textarea {
        padding: 0;
        margin:0;
    }
    img {
        max-width: 100%;
        height:auto;
        border:none;
    }
    ul {
        list-style: none;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
    /*!!!Оформление шапка сайта!!!*/

    /*Оформление верхней части шапки*/
    .header {
        height: 320px;
    }
    .header-top, 
    .header-bottom {
        font-size: 17px;
        color:white;
        background-color: #293449;
    }
    .header-top {
        width: 100%;
    }
    .techmart-logo {
        display: inline-block;
        background-color: #ee3643;
        width:220px;
        height: 42px;
        box-shadow: 0 5px 0 0 #b52933;
        vertical-align: center;
        text-align: center;
        margin-left:130px;
    }
    .techmart-logo img {
        margin-top: 13px;
        margin-bottom: 15px;
    }
    .techmart-logo:hover {
        background-color: #ca2c37;
    }
    .techmart-logo:active {
        background:#ba2732;
    }
    .searchform {
        position: relative;
        display:inline-block;
        width: 270px;
        background-color: #293449;
        color: #fff;
        font-size: 17px;
        line-height: 18px;
        font-weight: 400;
        font-style: normal;
    }
    .searchform input {
        background-color: #293449;
        border:none;
    }
    .searchform input:hover {
        background: #212a3a;
        border:none
    }
    .header-top-menu li {
        display: inline-block;
    }
    .tomakeanorder {
        background-color: #63a63e;
        width: 150px;
        min-height: 42px;
        height: 42px;
    }
    .tomakeanorder:hover {
        background:#5fbb2d;
    }
    .tomakeanorder:active{
        background:#518534;
    }
    /*Оформление средней части шапки */
    .header-middle {
        background-color:#f4f7f9;
        height: 158px;
    }
    .header-info {
        font-family: "Cuprum", "Arial", sans-serif;
        font-size: 16px; 
        font-style: italic;
        line-height: 23px;
        color: #ee3643;
        float: left;
        margin: 49px 0 40px 52px;
        width: 196px;
        height: 60px;
        text-align: left;
    }
    .number {
        font-size:21px;
        color:#ee3643;
        font-family: "Cuprum", "Arial", sans-serif;
        line-height: 1;
    }
    .adress {
        font-size: 14px;
        text-align: center;
        color: #32425c;
        width: 250px;
        height: 13px;
    }
    .enterRegistration {
        font-size: 21px;
        color:black;
    }
    /*Оформление нижней части шапки*/
    .header-bottom {
        margin-left: 130px;
        margin-right: 130px;
        box-shadow:0 5px 0 0 #293449;
        height: 60px;
    }
    .header-bottom li {
        color:white;
        display: inline-block;
        margin:0 59px;
        margin-top: 22px;
    }
    .header-bottom a {
        display:block;
        font-size: 17px;
        text-decoration: none;
        color:#fff;
    }
    .header-bottom a:hover {
        background-color:#293449;
    }


    /*!!!Тут разметка секций из main!!!*/
    
    /*Оформление цветных блоков из main */



    /*Оформление популярных товаров */



    /*Оформление популярных производителей */



    /*Оформление сервисов */



    /*Оформление секции о компании и контакты */
    .about-us h2 {
        font-size:30px;
        color:#000000;
        font-family: "Cuprum", "Arial", sans-serif;
    }
    .about-us p {
        font-size:13px;
        font-family: "PTSans", "Arial", sans-serif;
    }
    .companies li {
        font-size: 18px;
        font-family: "Cuprum", "Arial", sans-serif;
        font-weight: normal;
        line-height: 1.11;
    }
    .details {
        width: 220px;
        height: 38px;
        font-size: 14px;
        font-family: "Cuprum", "Arial", sans-serif;
        background-color: #ee3643;
        color:#ffffff;
        float:left;
        text-align: center;
        padding-top:14px;
        border-radius: 4px;
    }
    .details a {
        font-size:14px;
        padding-top:14px;
    }

    .contacts h2 {
        font-size:30px;
        font-family: "Cuprum", "Arial", sans-serif;
    }
    .contacts p {
        font-size: 13px;
        font-family: "PTSans", "Arial", sans-serif;
        text-align: left;
    }
    .write-us {
        width:300px;
        height: 38px;
        background-color: #ee3643;
        color:#ffffff;
        font-size: 14px;
        font-family: "Cuprum", "Arial", sans-serif;
        padding-top:14px;
        float:right;
        text-align: center;
        border-radius: 4px;
    }

    /* Оформление подвала сайта */
    
    /*Оформление верхней части сайта */
    .footer-top {
        width:100%;
        height:197px;
        background-color: #32425c;
    }
    .adressnumber {
        font-family: "Cuprum", "Arial", sans-serif;
        color:#ffffff;
        font-size: 18px;
    }
    .nav-foot-one li{
        display: inline-block;
        font-family: "Cuprum", "Arial", sans-serif;
        color:#f1f5f7;
    }
    .nav-foot-two li{
        display: inline-block;
        font-family: "Cuprum", "Arial", sans-serif;
        color:#ffd180;
    }

    /*Оформление нижней части футера */
    .footer-bottom{
        width:100%;
        height: 107px;
        background-color:#293449;
    }
    .copyrights {
        font-family: "Cuprum", "Arial", sans-serif;
        color:#ffffff;
        font-size: 16px;
    }
    .feedback {
        display: inline-block;
        font-size: 16px;
        line-height: 18px;
        font-family: "Cuprum", "Arial", sans-serif;
        color:#ffffff;
    }
    .feedback a {
        display: inline-block;
        font-size: 16px;
        line-height: 18px;
        font-family: "Cuprum", "Arial", sans-serif;
        color:#ffd180;
    }
    .feedback a:hover {
        text-decoration: underline;
    }